@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: lavender;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color:darkslateblue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: midnightblue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: magenta;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/pexels-pixabay-531880.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    color: cornflowerblue;
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: white;
    background-color:cornflowerblue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: blue;
    transform: scale(1.1);
}
.icons a{
    color: aliceblue;
    font-size: 1.7em;
    padding-right: 30px;

}
.content{
    display: flex;
    justify-content: center;
    flex-direction:row ;
    flex-wrap: wrap;
}
.card{
    background-color:whitesmoke;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}   
.card:hover{
    transform: scale(1.1);
}
.title{
    display: flex;
    justify-content: center;
    color:blue;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.icon{
    color: darkblue;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color:darkblue;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.projects{
    background-color:#000016;
}
.projects .content{
    margin-top: 30px;
}
.Pcard{
    background-color:#fff;
    border: 1px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transform-origin: 0.7s ease;
}
.Pcard:hover{
    transform: scale(1.1);
}
.Pcard:hover img{
    opacity:0.9;
}
.img img{
    width: 100%;
}
.Pinfo{
    padding: 1em;

}
.cat{
    font-size: 0.8em;
    color: black;
}
.Ptitle{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;

}
.det{
    text-decoration:none;
    color: cornflowerblue;
}
.det:hover{
    color: #601c60;
}
.footer{
    background:lavender;
    color: cornflowerblue;
    padding:2em;
    display: flex;
    justify-content: space-between;
}
.ftitle{
    font-size: 1.3em;
    font-weight: 600;

}
.ftitle span{
    color: cornflowerblue;
}
.footer .icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
@media(max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
}